*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
}

html{
    min-height: 100%;
    background-color: #f6f6f3;
    position: relative;
}

body{
    margin-left: 30%;
    margin-right: 30%;
}

.header{
    display: flex;
    font-size: 2em;
    font-weight: 500;
    align-items: center;
    margin: 1em 0 1em 0;
    text-align: left;
}

legend{
    font-size: 1em;
    font-weight: 500;
    padding: 5px 15px;
    border: 1px solid #000;
    background-color: rgb(181, 94, 94);
}

fieldset{
    padding: 20px;
    width: fit-content;
    margin: auto;
    background-color: #f6f6f6;
    margin-bottom: 2em;
}

input{
    margin-right: 20px;
}

label{
    font-weight: 500;
}

fieldset button{
    padding: 5px;
    max-height: 40px;
    min-width: 100px;
    font-weight: 500;
    background-color: rgb(181, 94, 94);
}

button:hover, #input-check:hover{
    cursor: pointer;
}

.delete, .status{
    cursor: pointer;
    border: none;
    background-color: #f6f6f3;
    padding: 5px;
}

table{
    width: fit-content;
    margin: auto;
}

table, th, td{
    border-collapse: collapse;
}

th, td{
    padding: 8px 32px;
}

th{
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    min-width: 130px;
}

tr{
    border-bottom: 1px solid black;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
