*{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
}

html{
    min-height: 100%;
    background-color: #f6f6f3;
    position: relative;
}

body{
    margin: 0 10%;
    margin-bottom: 50px;
}

.header{
    display: flex;
    font-size: 2em;
    font-weight: 500;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.form-menu{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    margin-bottom: 60px;
    min-width: 783px;
}

input{
    margin-right: 20px;
}

label{
    font-weight: 500;
}

button{
    padding: 5px;
    max-height: 40px;
    min-width: 100px;
    font-weight: 500;
}

button:hover, #input-check:hover{
    cursor: pointer;
}

.bttnDelete{
    padding: 5px;
    min-width: 40px;
}

.bttnStatus{
    padding: 3px;
    font-weight: 100;
    min-height: 30px;
}

.my-table{
    display: flex;
    justify-content: space-between;
}

table, th, td{
    border-collapse: collapse;
}

th, td{
    padding: 8px 32px;
}

th{
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    min-width: 130px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
